/*=======================================================
INFOPRODUCTO
=========================================================*/

.flexslider{

    cursor: pointer;

}

.lupa{

    display: none;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    overflow: hidden;

}

.lupa img{

    position: relative;
    margin-top: -100%;
    margin-left: -50%;
    width: 160%;

}

.compartirRedes li p{

    color: white;
    text-align: center;
    line-height: 30px;
    padding: 8px;
    font-size: 18px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    cursor: pointer;

}

.dropdown-menu{

    padding: 0;

}

.btnFacebook{

    background:  #46639f;

}

.btnTwitter{

    background:  #0ab2e6;

}

.detallesEstilos{

    margin-right: 10px;

}

.infoEntrega>div>div{

    white-space: initial;
    font-size: 15px;

}

.alturaComentarios{

    /*height: 300px;*/

}

/*=================================================
ESCRITORIO GRANDE (LG revisamos en 992px en adelante)
=================================================*/

@media (min-width: 992px){

    .videoPresentacion{

        height: 415px;

    }

}

/*=================================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 900)
=================================================*/

@media (max-width: 992px) and (min-width:768px){

    .videoPresentacion{

        height: 350px;

    }

    .infoEntrega{

        text-align: left;

    }

}

/*=================================================
ESCRITORIO CHICO O TABLET VERTICAL (SM revisamos en 700px)
=================================================*/

@media (min-width: 576px) and (max-width: 768px){

    .videoPresentacion{

        height: 300px;

    }

    .infoEntrega{

        text-align: left;

    }

}

/*=================================================
MOVIL (XS revisamos en 320px)
=================================================*/

@media (max-width: 576px){

    .videoPresentacion{

        height: 200px;

    }

    .infoEntrega{

        text-align: left;

    }

}